.card {
  position: relative;
  width: 500px;
  height: 500px;
  background-image: url("../../../../public/game/nexus.jpg");
  background-size: cover;
  border-radius: 5px;
  border: 5px solid #1e90ff;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s;

  .triangle {
    width: 0;
    height: 0;
    border-top: 100px solid #1e90ff;
    border-right: 100px solid transparent;
  }
  .txtCon {
    width: 300px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    background-color: #1e90ff;
  }
  .rectangle {
    position: absolute;
    right: 300px;
    bottom: 0;
    border-bottom: 60px solid #1e90ff;
    border-left: 50px solid transparent;
    height: 0;
    width: 50px;
  }

  .img {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
  }

  .back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    gap: 50px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity 10s;
  }

  &.flipped {
    transform: rotateY(180deg);
  }

  &.flipped .back {
    opacity: 1;
    transition: opacity 0.1s;
  }
}
.name {
  font-family: "Electrolize", sans-serif;
  font-size: 24px;
}
.text{

  font-family: 'Lora';
  font-size: 16px;
}
.block{
  
}