.container{
    background: url('../../../public/images/bg4.jpg') ;
    height: auto;
    display: flex;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
    // justify-content: center; 
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.con{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
