.con{
    width: 400px;
    height: auto;
}
.img{
    width: 100%;
    height: 120px;
    background-color: #423F46;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    
    color: #FAED26;
    font-size: 24px;
}
.textCon{
    font-family: "Lora", serif;
    padding: 5px 20px;
    background-color: rgba(66, 63, 70, 0.4);
}
.title{
    font-size: 3wh;
    color: #FAED26;
}
.info{
    font-size: 20px;
    color: #fff;
}
.novice{
    border: 2px solid #87CEEB;
}
.easy{
    border: 2px solid #00FF00;
}
.medium{
    border: 2px solid #FFA500;
}
.advanced{
    border: 2px solid #0000FF;
}
.expert{
    border: 2px solid #FF00FF;
}
.master{
    border: 2px solid #FF0000;
}
.legend{
    border: 2px solid #FFD700;
}
@media screen and (max-width:700px){
    .con{
        width: 150px;
    }
    .img{
        height: 50px;
    }
    .title{
        font-size: 12px;
    }
    .info{
        font-size: 12px;
    }
    .textCon{
        padding: 5px 10px;
    }
}