.container{
    display: flex;
    flex-direction: column;
     margin: 40px 0;
     gap: 20px;
     align-items: center;
 }
 .avaCon{
     width: 200px;
     height: 200px;
     border-radius: 5px;
     border: 2px solid #423F46;
     img{
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
 }
 .itemCon{
     padding: 20px;
     background-color: #423F46;
     border-radius: 5px;
     
 }
 .conHeader{
     display: flex;
     justify-content: center;
     gap: 50px;
 }
 .profile{
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-bottom: 10px;
 }
 .profItem{
     color: #E6E6FA;
     font-family: "Lora", serif;
     font-weight: 400;
 }
 .titulCon{
     width: 500px;
     height: 300px;
  padding: 30px;
  background-image: url('../../../public/images/dostbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
 }
 .cup{
     width: 20px;
     height: 20px;
 }
 @media screen and (max-width:700px){
     .titulCon{
         width: 300px;
         height: 180px;
         padding: 20px;
     }
 }
 @media screen and (max-width:495px) {
     .conHeader{
         gap: 5px;
     }
     .avaCon{
         width: 70px;
         height: 70px;
     }
     .profile{
         gap: 10px;
         margin: 5px 0;
     }
     .profItem{
         font-size: 12px;
     }
     .itemCon{
         padding:5px 10px;
     }
     .cup{
         width: 15px;
         height: 15px;
     }
     .titulCon{
         width: 200px;
         height: 120px;
         padding: 10px;
     }
 }