
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#423F46 ;
    padding: 10px;
    gap: 20px;
    position: sticky;
    top: 0;
}
.headerTxt{
    color: #FAED26;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.main{
    padding: 20px;
}
.mainTxt{
    background-color: #423F46;
    border-radius: 10px;
    color: #FAED26;
    text-align: center;
    padding: 10px;
}
.taimer{
    padding: 0 20px;
}
.tourCon{
    padding: 20px;
}
.newsItem{
    margin: 20px 10px;
    background-color: #423F46;
    color: #FAED26;
    font-size: 20px;
padding: 20px;
text-align: center;
border-radius: 20px;
}
.dostCon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
    justify-content: center;
    text-decoration: none;
}
.dostImg{
    width: 300px;
    height: 180px;
    object-fit: cover;
    border: 5px solid #423F46;
    border-radius: 50px;
}
.bTitle{
    font-size: 26px;
    color: #423F46;
}
.boxImg{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
@media screen and (max-width:700px){
    .navbar{
        padding: 5px;
    }
    .link img{
        width: 20px;
        height: 20px;
    }
    .headerTxt{
        font-size: 12px;
    }
    .boxImg{
        width: 200px;
        height: 200px;
    }
}