.container {
  width: auto;
  background-color: #5b5561;
 padding: 20px;
 border-radius: 5px;
}
.conTitle {
  font-size: 32px;
  width: 190px;
  color: #E6E6FA;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lora", serif;
}
.con{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.block{
  display: flex;
  justify-content: space-around;
}
.headerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.headerItem {
  font-size: 2vw;
  width: 100px;
 color: #E6E6FA;
 font-family: "Lora", serif;
}
.imgCon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 8px 0;
}
.gameItem {
    width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.first {
  color: #ff9700;
}
.second {
  color: #9b408f;
}
.third {
  color: #39759a;
}
.fourth {
  color: #00a97a;
}
.fifth{
    color: #E6E6FA;
}
@media screen and (max-width:700px){
  .gameItem{
    font-size: 28px;
  }
  .conTitle{
    width: 100px;
    font-size: 22px;
  }
  .con{
    gap: 10px;
  }
}
@media screen and (max-width:495px) {
    .container{
        width: auto;
        padding: 10px;
    }
    .headerItem{
        width: auto;
        
    }
    .conTitle{
        font-size: 14px;
        width: 80px;
    }
    .gameCon{
        gap: 5px;
    }
    .gameTitle{
        width: 80px;
        font-size: 12px;
    }
    .gameItem{
        width: 30px;
        font-size: 16px;
    }
    .imgCon{
        width: 30px;
    }
    .con{
      gap: 5px;
    }
    .headerImg{
        width: 30px;
        height: 30px;
    }
    
}