.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Здесь 0.5 определяет прозрачность */
  z-index: 1; /* Помещает фон выше всего остального */
}

/* Стили для модального окна */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #423f46;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Помещает модальное окно над фоном */
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.modalImg {
  width: 200px;
}
.icon {
  width: 70px;
  height: 70px;
}
.close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}
.title {
  color: #faed26;
  font-weight: 600;
  font-size: 36px;
}
.txt {
  color: #fff;
  font-size: 22px;
  text-align: center;
  width: 400px;
}
.info {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.lvlCon {
  display: flex;
  font-size: 24px;
  gap: 10px;
}
.lvl {
  color: #fff;
}
.easy {
  border: 2px solid #00ff00;
  color: #00ff00;
}
.medium {
  border: 2px solid #ffa500;
  color: #ffa500;
}
.advanced {
  border: 2px solid #0000ff;
  color: #0000ff;
}
.expert {
  border: 2px solid #ff00ff;
  color: #ff00ff;
}
.master {
  border: 2px solid #ff0000;
  color: #ff0000;
}
.legend {
  border: 2px solid #ffd700;
  color: #ffd700;
}
@media screen and (max-width: 700px) {
  .title {
    font-size: 28px;
  }
  .modalImg {
    width: 150px;
    height: 150px;
  }
  .icon{
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width:495px){
  .txt{
    width: 280px;
    font-size: 18px;
  }
  .title{
    font-size: 22px;
  }
  .info{
    font-size: 16px;
  }
  .modalImg{
    width: 120px;
    height: 120px;
  }
  .icon{
    width: 50px;
    height: 50px;
  }
}